a{
    transition: .2s all;
}
.main-title{
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    line-height: 2rem;
}
.side-nav{
    height: 100vh;
    position: sticky;
    width: 290px;
    min-width: 290px;
    top: 0;
}
.logo{
    padding-bottom: 15px;
    color: #fff;
    font-size: 1.3rem;
    padding-left: 0.75rem;

}
.side-nav .label{
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    text-transform: uppercase;
    display: block;
}
.side-nav ul a{
    font-size: 14px;
    line-height: 1.5;
    align-items: center;
    border-radius: 0.375rem;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    height: 2.5rem;
    justify-content: space-between;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}

.side-nav ul a div{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.side-nav ul li{
    width: 100%;
}
.main-container{
    background-color: rgba(31,41,55,1);
    flex-grow: 1;
}
.side-nav ul a:hover{
    cursor: pointer;
    --tw-text-opacity: 1;
    background-color: hsla(0,0%,100%,.1);
    color: rgba(243,244,246,var(--tw-text-opacity));
}
.border-custom{
    border-bottom: 1px solid rgba(55,65,81,1);
}
.card-border {
    border: 1px solid;
    border-radius: 0.5rem;
}
.card-body {
    padding: 1.25rem;
}

.ltr\:ml-1 {
    margin-left: 0.25rem;
}
.button {
    font-weight: 600;
    white-space: nowrap;
}
.card-title{
    font-size: 1rem;
    font-weight: 600;
}
.radius-circle{
    border-radius: 50%;
}
.dropdown-menu{
    min-width: 160px;
    padding: 0.375rem;
    position: absolute;
    z-index: 30;
    border-radius: 10px;
}
.dropdown-menu.bottom-end {
    right: 0;
    margin-right: 20px;
}
.project-card{
    position: relative;
}
.menu-item {
    align-items: center;
    border-radius: 0.375rem;
    -webkit-column-gap: 0.5rem;
    column-gap: 0.5rem;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    white-space: nowrap;
    width: 100%;
    transition: .2s all;
}
.input-wrapper {
    display: flex;
    position: relative;
    width: 80%;
}
.input-suffix-start {
    --tw-translate-y: -50%;
    position: absolute;
    top: 50%;
    transform: translate(0,var(--tw-translate-y)) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}
.input{
    appearance: none;
    border-radius: 0.375rem;
    border-width: 1px;
    padding: 0.5rem 0.75rem;
    padding-left: 2.125rem;
}
.input-suffix-start {
    left: 0.625rem;
}
.no-projects{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.form-item.vertical {
    display: flex;
    flex-direction: column;
}
.form-item {
    margin-bottom: 1.75rem;
    position: relative;
}
.form-label {
    align-items: center;
    display: flex;
    font-weight: 600;
}
.input-form{
    padding-left: 10px;
    width: 100%;
}
.input-textarea {
    min-height: 7rem;
}
.dialog-content {
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.top-header{
    position: sticky;
    top: 0;
    z-index: 1;
}